<div class="hero-wrap hero-wrap-2 " style="background-image: url('assets/images/fondo.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-10 text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="subheading" style="font-size: 40px" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">¡SU CAMINO A LA SEGURIDAD JURÍDICA COMIENZA AQUÍ!</h1>

      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section ">
              <span class="subheading">Nuestros Especialidades</span>
              <h2 class="mb-4">Brindamos asesoría en la siguientes áreas</h2>
            </div>
          </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-family"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Derecho Civil</a></h3>
            <p> Brindamos servicios entre los que se encuentran los contratos entre personas naturales, temas de familia, de sucesiones, divorcios, así como todos los tipos legales de asociaciones y sociedades civiles.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-handcuffs"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Derecho Penal</a></h3>
            <p> Brindamos asesoría en toda clase de procesos penales, patrocinio en investigaciones preliminares e investigaciones de la policía y fiscalía, patrocinio de juicios penales sumarios y ordinarios, procedimientos especiales, interposición de denuncias penales ante el ministerio público y patrocinio de hábeas corpus.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-shield"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Derecho Minero</a></h3>
            <p> Brindamos servicios en la negociación y preparación de contratos de opción minera, de exploración y explotación minera, y de asociaciones. </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-auction"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Derecho Laboral</a></h3>
            <p> En esta área ofrecemos asesoría en las modalidades de contratación y condiciones de trabajo, negociaciones colectivas, y conclusión de las relaciones laborales. Asesoría en procedimientos administrativos ante autoridad de trabajo, patrocinio en procesos judiciales, asesoría en inspecciones de trabajo. Elaboración de reglamentos internos, de seguridad y salud en el trabajo.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-house"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Registral inmobiliario</a></h3>
            <p> Se brinda asesoría en procedimientos administrativos ante los registros públicos, municipalidades, entre otros, estudios de títulos de propiedad, regularización y saneamiento legal de títulos de propiedad, regularización de edificaciones, declaratoria de fábrica, independizaciones, elaboración y modificación de reglamentos internos, compraventa de inmuebles, fideicomisos inmobiliarios, reglamentos de propiedad horizontal, derechos de superficie, usufructos, hipotecas y otros.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-money"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Derecho Comercial</a></h3>
            <p> Ofrecemos servicios de elaboración y revisión de contratos comerciales, fusiones, escisiones y adquisición de acciones. Constitución de empresas: sociedad anónima, sociedad civil de responsabilidad limitada, sociedades civiles, E.I.R.L., entre otros. Elaboración del pacto social y de estatutos de sociedades, elaboración de convenios de accionistas, aumentos y reducciones de capital, reorganizaciones de sociedades, disolución y liquidación. </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-fire"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Derecho Ambiental</a></h3>
            <p> En esta área ofrecemos asesoría respecto al impacto y aplicación de las normas de derecho ambiental en el desarrollo de las distintas actividades económicas, a los cumplimientos medioambientales, como son la aprobación de instrumentos de gestión ambiental y la obtención de los permisos y licencia.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-employee"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Marcas</a></h3>
            <p> Brindamos asesoría para diseñar estrategias para el registro y la protección de propiedad industrial e intelectual, en particular de marcas, patentes, derechos de autor y diseños industriales. Además, cuentan con experiencia en la negociación y redacción de contratos relacionados con esta área del derecho, tales como licencia y cesión de uso de marcas o franquicias, y contratos de transferencia de tecnología.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-auction"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Arbitraje y conciliacion</a></h3>
            <p> Desarrollamos las estrategias necesarias tomando en cuenta los intereses y prioridades de nuestros clientes, protegiendo su patrimonio y evitando que sus actividades comerciales o productivas se vean afectadas. </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
          <div class="practice-area bg-white  p-4">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-employee"></span>
            </div>
            <h3 class="mb-3"><a href="practice-single.html">Contrataciones con el Estado</a></h3>
            <p> Contamos con una sólida práctica en contrataciones con el Estado con énfasis en la prevención de contingencias legales, que nos ha permitido patrocinar con éxito a nuestros clientes en postulaciones, ejecución de prestaciones contractuales, negociaciones y diversos procesos de solución de controversias.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 text-center">
            <div class="practice-area bg-white  p-4">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-money"></span>
              </div>
              <h3 class="mb-3"><a href="practice-single.html">Recuperacion de Crédito</a></h3>
              <p> Nuestro objetivo en esta área de trabajo es ahorrarles tiempo y dinero a nuestros clientes, recuperando sus acreencias de manera rápida y eficaz. El éxito de nuestro servicio radica en una pronta recuperación de sus acreencias en la etapa extra judicial, pasando a la etapa judicial solo aquellos casos con los cuales no se pudo encontrar una solución de pago. </p>
            </div>
          </div>
      </div>

      <!-- <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div> -->

    </div>
  </section>