<section class="ftco-section contact-section">
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h3">Información de Contacto</h2>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3">
          <p><span>Direccion:</span> Av. San Lorenzo N° 476 - SAN JUAN BAUTISTA HUAMANGA - Ayacucho </p>
        </div>
        <div class="col-md-3">
          <p><span>Celular:</span> <a href="tel://973-969740">973-969740</a></p>
        </div>
        <div class="col-md-3">
          <p><span>Teléfono Fijo:</span> <a href="tel://066 32-6915">066 32-6915</a></p>
        </div>
        <div class="col-md-3">
          <p><span>Email:</span> <a href="mailto:gerencia@oriundoabogados.com">gerencia@oriundoabogados.com
          </a></p>
        </div>
        <div class="col-md-3">
          <p><span>Website</span> <a href="#">yoursite.com</a></p>
        </div>
      </div>


      <div class="row block-9">
        <div class="col-lg-6 order-md-last d-flex">
          <form action="#" class="bg-light p-5 contact-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombres">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Apellidos">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Asunto">
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Enviar Mensaje" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        
        </div>

        <div class="col-lg-6 d-flex">
          <div id="map" class="bg-white"></div>
        </div>


      </div>
    </div>
  </section>
