<section class="ftco-section bg-light">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ">
          <span class="subheading">Nuestros Abogados</span>
          <h2 class="mb-4">Acerca de Nuestros Abogados</h2>
        </div>
      </div>

      <div class="row">


        <div class="col-lg-3 col-sm-6">
          <div class="block-2 ">
            <div class="flipper">


              <div class="front" style="background-image: url(assets/images/IMG_abogado1.JPG);">
                <div class="box">
                  <h2>Richard Anderson</h2>
                  <p>Civil Lawyer</p>
                </div>
              </div>

              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>

                <div class="author d-flex">
                  <div class="name align-self-center">Richard Anderson 
                    <span class="position">Civil Lawyer</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="block-2 ">
            <div class="flipper">


              <div class="front" style="background-image: url(assets/images/IMG_abogado2.JPG);">
                <div class="box">
                  <h2>Richard Anderson</h2>
                  <p>Civil Lawyer</p>
                </div>
              </div>

              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>

                <div class="author d-flex">
                  <div class="name align-self-center">Richard Anderson 
                    <span class="position">Civil Lawyer</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="block-2 ">
              <div class="flipper">
  
  
                <div class="front" style="background-image: url(assets/images/IMG_estudio1.JPG);">
                  <div class="box">
                    <h2>Richard Anderson</h2>
                    <p>Civil Lawyer</p>
                  </div>
                </div>
  
                <div class="back">
                  <!-- back content -->
                  <blockquote>
                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                  </blockquote>
  
                  <div class="author d-flex">
                    <div class="name align-self-center">Richard Anderson 
                      <span class="position">Civil Lawyer</span>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
        </div>
  
        <div class="col-lg-3 col-sm-6">
            <div class="block-2 ">
              <div class="flipper">
  
  
                <div class="front" style="background-image: url(assets/images/IMG_abogado4.JPG);">
                  <div class="box">
                    <h2>Richard Anderson</h2>
                    <p>Civil Lawyer</p>
                  </div>
                </div>
  
                <div class="back">
                  <!-- back content -->
                  <blockquote>
                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                  </blockquote>
  
                  <div class="author d-flex">
                    <div class="name align-self-center">Richard Anderson 
                      <span class="position">Civil Lawyer</span>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 ">
        </div>
    
        <div class="col-lg-3 col-sm-6">
              <div class="block-2 ">
                <div class="flipper">
    
    
                  <div class="front" style="background-image: url(assets/images/IMG_abogado5.JPG);">
                    <div class="box">
                      <h2>Richard Anderson</h2>
                      <p>Civil Lawyer</p>
                    </div>
                  </div>
    
                  <div class="back">
                    <!-- back content -->
                    <blockquote>
                      <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                    </blockquote>
    
                    <div class="author d-flex">
                      <div class="name align-self-center">Richard Anderson 
                        <span class="position">Civil Lawyer</span>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="block-2 ">
              <div class="flipper">
  
  
                <div class="front" style="background-image: url(assets/images/IMG_abogados.JPG);">
                  <div class="box">
                    <h2>Richard Anderson</h2>
                    <p>Civil Lawyer</p>
                  </div>
                </div>
  
                <div class="back">
                  <!-- back content -->
                  <blockquote>
                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                  </blockquote>
  
                  <div class="author d-flex">
                    <div class="name align-self-center">Richard Anderson 
                      <span class="position">Civil Lawyer</span>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
        </div>

      </div>

      
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

</section>