<div class="hero-wrap hero-wrap-2 " style="background-image: url('assets/images/extra.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-10 text-center ftco-animated" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="subheading" style="font-size: 40px" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">¡SU CAMINO A LA SEGURIDAD JURÍDICA COMIENZA AQUÍ!</h1>

      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ">
          <span class="subheading">Nuestros Abogados</span>
          <h2 class="mb-4">Acerca de Nuestros Abogados</h2>
        </div>
      </div>

      <div class="row">


        <div class="col-lg-3 col-sm-6">
          <div class="block-2 ">
            <div class="flipper">


              <div class="front" style="background-image: url(assets/images/IMG_abogado1.JPG);">
                <div class="box">
                  <h2>Ivan Oriundo Yaranga</h2>
                  <p>Abogado</p>
                </div>
              </div>

              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Ivan Oriundo Yaranga - Abogado.&rdquo;</p>
                </blockquote>

                <div class="author d-flex">
                  <div class="name align-self-center">Ivan Oriundo Yaranga
                    <span class="position">Abogado</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="block-2 ">
            <div class="flipper">


              <div class="front" style="background-image: url(assets/images/IMG_abogado2.JPG);">
                <div class="box">
                  <h2>Roberto Oriundo Yaranga</h2>
                  <p>Abogado Civil</p>
                </div>
              </div>

              <div class="back">
                <!-- back content -->
                <blockquote>
                  <p>&ldquo;Especialidad en abogacia Civil con larga trayectoria y experiencia laboral.&rdquo;</p>
                </blockquote>

                <div class="author d-flex">
                  <div class="name align-self-center">Roberto Oriundo Yaranga 
                    <span class="position">Abogado Civil</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="block-2 ">
              <div class="flipper">
  
  
                <div class="front" style="background-image: url(assets/images/IMG_estudio1.JPG);">
                  <div class="box">
                    <h2>falta</h2>
                    <p>Abogada</p>
                  </div>
                </div>
  
                <div class="back">
                  <!-- back content -->
                  <blockquote>
                    <p>&ldquo;Abogada con buena experiencia laboral, responsabilidad y ética profesional.&rdquo;</p>
                  </blockquote>
  
                  <div class="author d-flex">
                    <div class="name align-self-center">Falta 
                      <span class="position">Abogada</span>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
        </div>
  
        <div class="col-lg-3 col-sm-6">
            <div class="block-2 ">
              <div class="flipper">
  
  
                <div class="front" style="background-image: url(assets/images/IMG_abogado4.JPG);">
                  <div class="box">
                    <h2>Maribel Oriundo Yaranga</h2>
                    <p>Abogada</p>
                  </div>
                </div>
  
                <div class="back">
                  <!-- back content -->
                  <blockquote>
                    <p>&ldquo;Abogada calificada con alta experiencia laboral, responsabilidad, integridad y ética profesional.&rdquo;</p>
                  </blockquote>
  
                  <div class="author d-flex">
                    <div class="name align-self-center">Maribel Oriundo Yaranga
                      <span class="position">Abogada</span>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 ">
        </div>
    
        <div class="col-lg-3 col-sm-6">
              <div class="block-2 ">
                <div class="flipper">
    
    
                  <div class="front" style="background-image: url(assets/images/IMG_abogado5.JPG);">
                    <div class="box">
                      <h2>Milagros</h2>
                      <p>Abogada</p>
                    </div>
                  </div>
    
                  <div class="back">
                    <!-- back content -->
                    <blockquote>
                      <p>&ldquo;Abogada &rdquo;</p>
                    </blockquote>
    
                    <div class="author d-flex">
                      <div class="name align-self-center">Milagros
                        <span class="position">Abogada</span>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="block-2 ">
              <div class="flipper">
  
  
                <div class="front" style="background-image: url(assets/images/IMG_abogados.JPG);">
                  <div class="box">
                    <h2>Estudio jurídico</h2>
                    <p>Abogados Calificados</p>
                  </div>
                </div>
  
                <div class="back">
                  <!-- back content -->
                  <blockquote>
                    <p>&ldquo;Abogados entregados en servicio de la comunidad Ayacuchana, cumpliendo sus funciones con integridad y transparencia. &rdquo;</p>
                  </blockquote>
  
                  <div class="author d-flex">
                    <div class="name align-self-center">Estudio jurídico 
                      <span class="position">Abogados Calificados</span>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
        </div>

      </div>

      
      <div class="row mt-1">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

</section>