<div class="hero-wrap hero-wrap-2 " style="background-image: url('assets/images/IMG_2251.JPG');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-10 text-center ftco-animated" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="subheading" style="font-size: 40px" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">¡SU CAMINO A LA SEGURIDAD JURÍDICA COMIENZA AQUÍ!</h1>

      </div>
    </div>
  </div>
</div>

<br>
<section class="ftco-section ftco-no-pb services-section">
  <div class="container">
    <div class="row no-gutters d-flex">
      <div class="col-md-3 text-center services align-self-stretch d p-4">
        <div class="icon"><span class="flaticon-auction"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="#">Servicio al cliente</a></h3>
          <p>Ofrecemos soluciones a través de un servicio integral</p>
        </div>
      </div>
      <div class="col-md-3 text-center services align-self-stretch d p-4">
        <div class="icon"><span class="flaticon-lawyer"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="#">Abogados expertos</a></h3>
          <p>Abogados dedicados al servicio del cliente.</p>
        </div>
      </div>
      <div class="col-md-3 text-center services align-self-stretch d p-4">
        <div class="icon"><span class="flaticon-money"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="#">Costos</a></h3>
          <p>Costos acordes al excelente servicio de la empresa.</p>
        </div>
      </div>
      <div class="col-md-3 text-center services align-self-stretch d p-4">
        <div class="icon"><span class="ion-ios-help-circle-outline"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="https://cej.pj.gob.pe/cej/forms/busquedaform.html" target="_blank">Poder judicial del Peru</a></h3>
          <p>Busqueda de expedientes del Poder Judicial</p>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<section class="">
<div class="slider hero-wrap">
<ul>
  <li><img src="assets/images/IMG_atencion1.JPG" alt=""></li>
  <li><img src="assets/images/IMG_atencion2.JPG" alt=""></li>
  <li><img src="assets/images/IMG_atencion3.JPG" alt=""></li>
</ul>
</div>
</section>  


           


