<br>
<section class="ftco-counter" id="section-counter">
    	<div class="container-fluid">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center justify-content-center" style="background-image:url(assets/images/IMG_1.JPG);">
    				</div>
          </div>
          
    			<div class="col-md-6 px-5 py-5">
    				<div class="row justify-content-start pt-2 pb-2">
		          <div class="col-md-12 heading-section ">
		          	<h3 class="mb-2">¿Quienes somos?</h3>
                <p>Nuestro despacho jurídico y su equipo de abogados, así como otros profesionales de nuestro staff, se encuentran estrechamente vinculados con el mundo de la asesoría legal, ofreciendo un servicio de asesoramiento, consultoría legal y judicial. Esto les permite abarcar diferentes ramas y especialidades del derecho, defendiendo los intereses de nuestros clientes y permaneciendo junto a ellos de manera fiel y responsable.
                </p>

                <h3 class="mb-2">Misión</h3>
		            <p>Somos una organización formalizada con la finalidad de brindar servicios integrales de asesoría jurídica. Además del corto tiempo que tenemos en el mercado somos reconocidos por la excelencia y ética profesional con nuestros clientes, quienes nos respaldan.</p>


              </div>
            </div>
 
	        </div>
        </div>
      </div>
      
      <div class="container-fluid">
          <div class="row d-flex">
            
            
            <div class="col-md-6 px-5 py-5">
              <div class="row justify-content-start pt-2 pb-2">
                <div class="col-md-12 heading-section ">

                  <h3 class="mb-2">Visión</h3>
                  <p>Ser una organización líder en servicios de asesoría jurídica integral, permitiendo ser reconocida a nivel nacional como proveedor confiable y seguro para empresas del sistema financiero, corporativo, organizaciones públicas y privadas, llevando procesos eficientes que garanticen el éxito sostenido de nuestra institución.
                  </p>

                  <h3 class="mb-2">Valores Coorporativos</h3>
                  <p>Valores Corporativos Para poder cumplir de manera eficiente con la visión, O&Y ABOGADOS ASOCIADOS SAC, establece los siguientes valores que forman la filosofía de servicio que brinda a sus clientes.</p>

                  <ul>
                    <li>Responsabilidad</li>
                    <li>Puntualidad</li>
                    <li>Honestidad</li>
                    <li>Profesionalismo</li>
                    <li>Eficacia</li>
                    <li>Prontitud</li>
                    <li>Confidencialidad</li>
                    <li>Fidelidad</li>
                    <li>Pertenencia</li>
                    <li>Innovacion</li>
                  </ul>

  
                </div>
              </div>
            
              
  
            </div>


            <div class="col-md-6 d-flex">
                <div class="img d-flex align-self-stretch align-items-center justify-content-center" style="background-image:url(assets/images/IMG_abogados.JPG);">
                </div>
              </div>

          </div>
        </div>  

    </section>