<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-1">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{{ Servicio.info.titulo }}</h2>
              <p>{{Servicio.info.descripcion}}</p>
              
              
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Especialidades</h2>
              <ul class="list-unstyled">
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Penal</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Civil</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Derecho minero</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Derecho ambiental</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Derecho laboral</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Derecho comercial</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Registral e inmobiliario</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Marcas Y Patentes</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Arbitraje y conciliación</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Contrataciones con el estado</a></li>
                <li><a class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Recuperación de crédito</a></li>
              </ul>
            </div>
          </div>


          <div class="col-md">

             <div class="ftco-footer-widget mb-4">

              <h2 class="ftco-heading-2">Horario de atencion</h2>
                <div class="opening-hours">
              	<h4>Atencion los días:</h4>
              	<p class="pl-3">
              		<span> Lunes – Viernes : 8 am a 6 pm</span>
              	</p>

              </div>
            </div>
          </div>


          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Consultas  a: </h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">{{Servicio.info.direccion}}</span></li>
	                <li><a routerLink="contact"><span class="icon icon-phone"></span><span class="text">{{Servicio.info.celular}}</span></a></li>
                  <li><a href="mailTo:{{Servicio.info.email}}"><span class="icon icon-envelope"></span><span class="text">{{Servicio.info.email}}</span></a></li>
                  <li><a [href]="Servicio.info.facebook"><span class="icon icon-facebook-f"></span><span class="text">Visita nuestro Facebook</span></a></li>
  	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
      
</footer>
    